.basket {
    position: fixed;
    bottom: 0;
    right: 0;
    background: #FFFFFF;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.15);
    border-radius: 20px 0 0 0;
    height: 158px;
    width: 520px;
    transition: height .4s ease;
}

.basketActive {
    height: 100%;
    overflow-y: scroll;
    transition: height .4s ease;
}

.fade {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
}