.basketMore {
    margin: 28px 41px 0 83px;
}

.button {
    margin-top: 60px;
}

.fade {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 520px;
    background: rgba(0, 0, 0, 0.3);
}