.content {
    display: flex;
    padding: 80px 10% 0 10%;
}

.sidebar {

}

.items {
    display: flex;
    flex-direction: column;
    margin-left: 38px;
}


.search {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 87px;
}

.description {
    margin-bottom: 66px;
    text-align: start;
}

.itemsList {

}