.headerWrapper {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.headerBottom {
    display: flex;
    justify-content: space-between;
    padding: 13px 48px 11px 48px;
    flex-wrap: wrap;
    align-items: center;
}

